# WordPress core files (if you're developing themes/plugins only)
/wp-admin/
/wp-includes/
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
/index.php

# Configuration
wp-config.php

# Uploads directory
/wp-content/uploads/

# WP default themes (twenty*)
/wp-content/themes/twenty*/

# Log files
*.log
/wp-content/debug.log

# Database backups
*.sql
*.gz

# Node modules
node_modules/

# Environment files
.env
